.scrollbar-custom {
    scrollbar-gutter: stable both-edges;
}
/* Custom Scrollbar */
.scrollbar-custom::-webkit-scrollbar {
    width: 8px; /* Lebar scrollbar */
    height: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
    background: #f1f1f1; /* Warna track */
    border-radius: 8px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #4caf50; /* Warna thumb */
    border-radius: 8px;
    border: 2px solid #f1f1f1; /* Memberi jarak thumb dengan track */
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #45a049; /* Warna thumb saat di-hover */
}
